.card {
    position: relative;
    margin: 0;
    box-shadow: 0 2px 20px var(--pink-cream-t);
    border-radius: 5px;
    padding: 0;
    overflow: hidden;
    border: 2px solid var(--orange-t);
    background-color: var(--pink-cream-t);
}