.slide-item {
    margin: 1rem;
    width: 20rem;
    padding: 1rem;
}

.slide-item__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 0.5rem;
    color: black;
}

.slide-item__content:hover {
    background-color: var(--blue-hover);
}

.slide-item__title {
    display: flex;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    color: var(--purple-dark);
    font-weight: bold;
}

.slide-item__image {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.slide-item__image img {
    display: block;
    width: 16rem;
    height: 14rem;
    border-radius: 5px;
    /* padding: 10px; */
    /* width: 100%;
    height: 100%; */
    /* object-fit: cover; */
}