.slide-item {
    margin: 1rem;
    width: 20rem;
    padding: 1rem;
}

.slide-item__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 0.5rem;
    color: black;
}

.slide-item__content:hover {
    background-color: var(--pink-hover-t);
}

.slide-item__title {
    display: flex;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    color: var(--purple-t);
    font-weight: bold;
}

.slide-item__image {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.slide-item__image img {
    display: block;
    width: 16rem;
    height: 14rem;
    border-radius: 5px;
    /* padding: 10px; */
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
}

.place-item__actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
}

.place-item__modal-content {
    padding: 0;
}

.place-item__modal-actions {
    text-align: right;
}

.place-item__actions button,
.place-item__actions a {
    margin: 0.5rem;
}