.main-title {
    text-align: center;
    display: block;
    margin-top: 3rem;
}

.secondary-title {
    text-align: center;
    display: block;
    margin-top: 5%;
    color: #ae97d6;
}

.wrapper {
    justify-content: center;
    margin-bottom: 7%;
}