.main-title {
    text-align: center;
    display: block;
    margin-top: 10%;
    margin-bottom: 5%;
    color: var(--purple-dark);
}

.secondary-title {
    text-align: center;
    display: block;
    margin-top: 5%;
    color: var(--purple-ligth);
}

.wrapper {
    justify-content: center;
    margin-bottom: 7%;
}