.slide-selected-item__title {
    text-align: center;
    color: var(--purple-t);
}

.slide-images {
    height: 80vh;
    /* max-height: 30rem; */
    /* width: 400px; */
    /* height: 30rem; */
    /* background-image: ; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-images img {
    height: 105%;
    /* object-fit: fill; */
    /* object-position: ; */
}

.slide-selected-item__image {
    /* display: block; */
    margin: 0 auto;
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-selected-item__image img {
    width: 100%;
}

.iframe-container {
    text-align: center;
}